@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 30px;

}

.App {
  position: relative;
  font-family: 'Source Sans Pro', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.intro {
  padding: 100px 0;
}

.intro h1 {
  font-size: 100px;
}

.catalog {
  display: grid;
}

.catalog.columns-1 {
  grid-template-columns: 1fr ;
}
.catalog.columns-2 {
  grid-template-columns: 1fr 1fr;
}
.catalog.columns-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.catalog.columns-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.catalog.columns-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.catalog.columns-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}


.catalog.columns-4 .catalog-image .label {
  font-size: 40px;
}
.catalog.columns-5 .catalog-image .label {
  font-size: 30px;
}
.catalog.columns-6 .catalog-image .label {
  font-size: 20px;
}

.catalog-image {
  position: relative;
  margin: 50px;
  margin-top: 60px;
  padding-bottom: 20px;
  display: flex;
}

.catalog-image .label {
  /* position: absolute; */
  font-size: 80px;
  color: #aaa;
  z-index: 20;
  line-height: 47px;
  transform: translateX(-20px);
}

.catalog-image img {
  transition: opacity 0.7s;
}

.catalog-image .first {
  opacity: 1;
  transition: opacity 0.5s;
}

.catalog-image .second {
  opacity: 0;
  transition: opacity 0.7s;
}

.catalog-image:hover .first {
  opacity: 0;
}

.catalog-image:hover .second {
  opacity: 1;
}

.catalog img.first {
  transform: translateZ(00px);
}

.catalog-image .second {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: #fff;
}

.img-wrap {
  position: relative;
}

.controls {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 100;
  padding: 10px 15px;
  background: #fff;
  border-top-left-radius: 5px;
}

.controls span {
  padding-right: 5px;
}

.img-wrap .labels {
  position: absolute;
  margin-top: -10px;
  z-index: 100;
}

.who {
  margin: 2px;
  padding: 2px 5px;
  background: rgb(255, 34, 122);
  border-radius: 5px;
  font-size: 15px;
}

.who.niklas {
  background: rgb(27, 207, 72);
}

.who.silke {
  background: rgb(207, 174, 27);
}

.who.kirstin {
  background: rgb(27, 174, 207);
}

.who.maya {
  background: rgb(83, 239, 223);
}